<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQrKBBcZgSu3m0ADgjP_sDIOui7x3MYtU</string>
	<key>GCM_SENDER_ID</key>
	<string>945491701132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanApp</string>
	<key>PROJECT_ID</key>
	<string>cleanapp-a4fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanapp-a4fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945491701132:ios:10e4068f62691393bb3aa9</string>
</dict>
</plist>